<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color:rgb(255, 255, 255)">


  <div class="" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>CUESTIONARIO</h1>
    </div>
  <mat-grid-list cols="2" rowHeight="4em">
    <mat-grid-tile>
      <div style="text-align: right;">

        <button mat-raised-button color="warn" routerLink="/administradores/mostrar/cuestionarios/registrar" >Nuevo</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="Buscar">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>




    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="background-color: #fef1f1;">

        <!-- Id Column -->
        <ng-container matColumnDef="id_cuestionario">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- ApellidoP Column -->
        <ng-container matColumnDef="tipo_form">
          <th mat-header-cell *matHeaderCellDef> FORMULARIO </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_form}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="Uso_de_PC">
          <th mat-header-cell *matHeaderCellDef> USO </th>
          <td mat-cell *matCellDef="let element"> {{element.Uso_de_PC}}</td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Presupuesto">
          <th mat-header-cell *matHeaderCellDef> PRESUPUESTO </th>
          <td mat-cell *matCellDef="let element"> {{element.Presupuesto}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Tamano_del_PC">
          <th mat-header-cell *matHeaderCellDef> TAMAÑO </th>
          <td mat-cell *matCellDef="let element"> {{element.Tamano_del_PC}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Diseno">
          <th mat-header-cell *matHeaderCellDef> DISEÑO </th>
          <td mat-cell *matCellDef="let element"> {{element.Diseno}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Tipo_de_refrigeracion">
          <th mat-header-cell *matHeaderCellDef> REFRIGERACION </th>
          <td mat-cell *matCellDef="let element"> {{element.Tipo_de_refrigeracion}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Overclocking">
          <th mat-header-cell *matHeaderCellDef> OVERCLOCKING </th>
          <td mat-cell *matCellDef="let element"> {{element.Overclocking}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Marca_Procesador">
          <th mat-header-cell *matHeaderCellDef> PROCESADOR </th>
          <td mat-cell *matCellDef="let element"> {{element.Marca_Procesador}} </td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="Programas_used">
          <th mat-header-cell *matHeaderCellDef> PROGRAMAS(OPCIONAL)</th>
          <td mat-cell *matCellDef="let element"> {{element.Programas_used}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
             [routerLink]="['/administradores/mostrar/cuestionarios/editar',element.id]"><i class="fa-solid fa-rotate" style="color: #ffffff;"></i></button>

          </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" style="background-color: #f4e4e4;"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</body>
</html>
