<!doctype html>
<html lang="en">

<head>
  <script>
    var selectedValor=0;
    var auxiliar2=0;
    var auxiliar=0;
  </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/admin/style.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Admin</title>
</head>

<body style="background-color:rgb(255, 255, 255)">
  <div class="d-flex" id="content-wrapper">

      <!-- Sidebar -->
      <div id="sidebar-container" class="bg-primary">
          <div class="logo">
            <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
          </div>

          <div class="menu">
            <a  routerLink="/administradores/mostrar/recomendacion/listar" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                RECOMENDACIONES</a>

            <a  routerLink="/administradores/mostrar/reportes/listar" data-valor="2" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                REPORTE</a>
            <a routerLink="/administradores/mostrar/listar" data-valor="3" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                  ADMINISTRADOR</a>

            <a routerLink="/administradores/mostrar/comentarios/coment" data-valor="4" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                  COMENTARIO</a>
            <a routerLink="/administradores/mostrar/cuestionarios/listar" data-valor="5" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                    CUESTIONARIO</a>
            <a routerLink="/login" data-valor="5" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                      CERRAR SESION</a>


        </div>
    </div>
    <!-- Fin sidebar -->

      <div class="w-100">



      <ng-container>
        <ng-container [ngSwitch]="selectedValor">
          <ng-container *ngSwitchCase="0">
            <div id="recomendacion" class="bg-grey w-100">
              <router-outlet></router-outlet>
              <div [hidden]="route.children.length!==0">
                <app-recomendacion-listar></app-recomendacion-listar>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <div id="recomendacion" class="bg-grey w-100">
              <router-outlet></router-outlet>
              <div [hidden]="route.children.length!==0">
                <app-recomendacion-listar></app-recomendacion-listar>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <div id="reporte" class="bg-grey w-100">
              <router-outlet></router-outlet>

              <div [hidden]="route.children.length!==0">
                <app-reporte-listar></app-reporte-listar>
              </div>
            </div>

          </ng-container>
          <ng-container *ngSwitchCase="3">
            <div id="reporte" class="bg-grey w-100">
              <router-outlet></router-outlet>

              <div [hidden]="route.children.length!==0">
                <app-administrador-listar></app-administrador-listar>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="4">
            <div id="content3" class="bg-grey w-100">
              <router-outlet></router-outlet>
              <div [hidden]="route.children.length!==0">
                <app-comentario-listar></app-comentario-listar>
                </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="5">
            <div id="content4" class="bg-grey w-100">
              <router-outlet></router-outlet>

              <div [hidden]="route.children.length!==0">
                <app-cuestionario-listar></app-cuestionario-listar>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
        <!-- Fin Navbar -->

      <!-- Page Content -->
      <!--







      <div id="content5" class="bg-grey w-100">
        <router-outlet></router-outlet>
        <div [hidden]="route.children.length!==0">
          <app-cuestionario-listar></app-cuestionario-listar>
          </div>
      </div>-->
      </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
      <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves','Viernes','Sábado','Domingo'],
                  datasets: [{

                      label: ['Nuevos usuarios','gatos'],
                      data: [50, 100, 150, 170,60,120,45],

                      backgroundColor: [
                          '#12C9E5',
                          '#12C9E5',
                          '#12C9E5',
                          '#111B54',
                          '#12C9E5',
                          '#12C9E5',
                          '#12C9E5'
                      ],
                      maxBarThickness: 30,
                      maxBarLength: 2
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
          </script>
</body>

</html>
