<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body  style="background-color:rgb(233, 222, 222)">

  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item px-3">
                      <button mat-button [matMenuTriggerFor]="menu" style=" color:white">Menu</button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/usuarios">USUARIOS</button>
                        <button mat-menu-item routerLink="/clientes">CLIENTES</button>
                        <button mat-menu-item routerLink="/administradores">ADMINISTRADORES</button>
                        <button mat-menu-item routerLink="/reportes">REPORTES</button>
                        <button mat-menu-item routerLink="/componentes">COMPONENTES</button>
                        <button mat-menu-item routerLink="/comentarios">COMENTARIOS</button>
                        <button mat-menu-item routerLink="/cuestionarios">CUESTIONARIOS</button>
                        <button mat-menu-item routerLink="/recomendacion">RECOMENDACIONES</button>
                      </mat-menu>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Componentes</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Formulario</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">¿Quienes Somos?</a>
                    </li>
                    <li>
                        <button class="btn btn-danger" type="button">Iniciar sesión</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </header>


  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Recomendaciones</h1>
    </div>
  </div>
 <ng-container  >
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Calificación</mat-label>
      <mat-select placeholder="Calificación" formControlName="valoracion_user">
        <mat-option value="1">⭐ ★ ★ ★ ★</mat-option>
        <mat-option value="2">⭐⭐ ★ ★ ★</mat-option>
        <mat-option value="3">⭐⭐⭐ ★ ★</mat-option>
        <mat-option value="4">⭐⭐⭐⭐ ★</mat-option>
        <mat-option value="5">⭐⭐⭐⭐⭐</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Notas</mat-label>
      <input matInput required placeholder="notas_adicionales" formControlName="notas_adicionales">
    </mat-form-field>
    <br>



    <button mat-raised-button type="submit" color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/administradores/mostrar">Cancelar</button>
    <p>{{mensaje}}</p>

  </form>
</ng-container>
</body>
</html>
