<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body  style="background-color:rgb(233, 222, 222)">

  <header >
    <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
        <div class="container-fluid">
          <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page" href="#">Menu</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">Componentes</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">Formulario</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">¿Quienes Somos?</a>
                </li>
                <li>
                    <button mat-raised-button color="warn" routerLink="/login">Iniciar sesión</button>

                </li>
            </ul>
            </div>
        </div>
    </nav>
</header>


  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Recomendaciones</h1>
    </div>
  </div>
 <ng-container>
  <div class="container" style="text-align: center;">
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Calificación</mat-label>
      <mat-select placeholder="Calificación" formControlName="valoracion_user" required>
        <mat-option value="1">⭐ ★ ★ ★ ★</mat-option>
        <mat-option value="2">⭐⭐ ★ ★ ★</mat-option>
        <mat-option value="3">⭐⭐⭐ ★ ★</mat-option>
        <mat-option value="4">⭐⭐⭐⭐ ★</mat-option>
        <mat-option value="5">⭐⭐⭐⭐⭐</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Notas</mat-label>
      <input matInput required placeholder="notas_adicionales" formControlName="notas_adicionales">
    </mat-form-field>
    <br>



    <button mat-raised-button type="submit" color="warn" class="mx-3">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/administradores/mostrar" class="mx-3">Cancelar</button>
    <p>{{mensaje}}</p>

  </form>
</div>
</ng-container>
</body>
</html>
