<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
</head>
<header >
  <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
      <div class="container-fluid">
        <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/recomendacion/listar" >Recomendacion</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/reportes/listar" >Reporte</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/comentarios/listar" >Comentario</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/cuestionarios/listar" >Cuestionario</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/componentes/listar" >Componentes</a>
            </li>
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/usuario/listar" >Usuario</a>
            </li>
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Consultas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/pages/consultas/reporte-count-usuario">Jean Sanabria 1</a></li>
                <li><a class="dropdown-item" href="/pages/consultas/reporte-count2-usuario">Jean Sanabria 2</a></li>
                <li><a class="dropdown-item" routerLink="/pages/consultas/usuario-count-comentario">Camilo Adama 1</a></li>
                <li><a class="dropdown-item" href="/pages/consultas/usuario-fecha-comentario">Camilo Adama 2</a></li>
                <li><a class="dropdown-item" href="#">Anthony Carhuancho 1</a></li>
                <li><a class="dropdown-item" href="#">Anthony Carhuancho 2</a></li>
                <li><a class="dropdown-item" href="#">Fabian Diaz 1</a></li>
                <li><a class="dropdown-item" href="#">Fabian Diaz 2</a></li>
                <li><a class="dropdown-item" href="/pages/consultas/recomendacion-cuestionario">Walter Delgado 1</a></li>
                <li><a class="dropdown-item" href="#">Walter Delgado 2</a></li>
              </ul>
            </li>
            <li>
              <button mat-raised-button color="warn" routerLink="/login">Cerrar Sesion</button>
            </li>

          </ul>
          </div>
      </div>
  </nav>
</header>



<body  style="background-color:rgb(255, 255, 255)">


  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>USUARIO</h1>
    </div>
  <mat-grid-list cols="2" rowHeight="4em">
    <mat-grid-tile>
      <div style="text-align: right;">

        <button mat-raised-button color="warn" routerLink="/pages/usuario/registrar" >Nuevo</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="Buscar">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>




    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="background-color: #fef1f1;">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI</th>
          <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="apellidop">
          <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidop}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="apellidom">
          <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidom}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef> Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="contrasenia">
          <th mat-header-cell *matHeaderCellDef> contrasenia </th>
          <td mat-cell *matCellDef="let element"> {{element.contrasenia}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="pais">
          <th mat-header-cell *matHeaderCellDef> Pais </th>
          <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
              [routerLink]="['/pages/usuario/editar',element.id]"><i class="fa-solid fa-rotate" style="color: #ffffff;"></i></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"  style="background-color: #f4e4e4;"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>


</body>
</html>
