<app-toolbar></app-toolbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color:rgb(255, 255, 255)">



  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>REPORTE</h1>
    </div>
  <mat-grid-list cols="2" rowHeight="4em">
    <mat-grid-tile>
      <div style="text-align: right;">

        <button mat-raised-button color="warn" routerLink="/administradores/mostrar/reportes/registrar" >Nuevo</button>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="Buscar">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>




    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="background-color: #fef1f1;">

        <!-- Id Column -->
        <ng-container matColumnDef="id_reporte">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <!-- ApellidoP Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha|date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <!-- ApellidoM Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>


        </ng-container>


        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef> usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
             [routerLink]="['/administradores/mostrar/reportes/editar',element.id]"><i class="fa-solid fa-rotate" style="color: #ffffff;"></i></button>

          </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" style="background-color: #f4e4e4;"
                     showFirstLastButtons
                     aria-label="Select page of  periodicelements">
      </mat-paginator>
    </div>
  </div>

</body>
</html>
