<!DOCTYPE html>
<html lang="en" style="background-color:rgb(233, 222, 222)">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header >
  <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
      <div class="container-fluid">
        <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/recomendacion/listar" >Recomendacion</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/reportes/listar" >Reporte</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/comentarios/listar" >Comentario</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/cuestionarios/listar" >Cuestionario</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/componentes/listar" >Componentes</a>
            </li>
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/usuario/listar" >Usuario</a>
            </li>
              <li>
                  <button mat-raised-button color="warn" routerLink="/login">Cerrar Sesion</button>

              </li>
          </ul>
          </div>
      </div>
  </nav>
</header>
<body style="background-color: rgb(233, 222, 222);">






  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Reportes</h1>
    </div>
  </div>

  <div class="container" style="text-align: center;">
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput required placeholder="Descripcion" formControlName="descripcion">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>fecha</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="fecha" formControlName="fecha" max="maxFecha" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>estado</mat-label>
      <mat-select placeholder="Estado" formControlName="estado"required>
        <mat-option value="En proceso">En Proceso</mat-option>
        <mat-option value="Finalizado">Finalizado</mat-option>
        <mat-option value="Pendiente">Pendiente</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuario" [(value)]="idUsuarioSeleccionado" required>
        <mat-option *ngFor="let a of listaUsuario" [value]="a.id">
          {{a.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="warn" class="mx-5">Aceptar</button>

    <button mat-raised-button color="warn" routerLink="/pages/reportes/listar" class="mx-5">Cancelar</button>

    <p>{{mensaje}}</p>

  </form>
</div>
</body>
</html>
