
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header >
  <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
    <div class="container-fluid">
      <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <a class="nav-link active" aria-current="page" routerLink="/pages/chatgpt" class="btn-neon">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              CHAT GPT
          </a>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/recomendacion/listar" >Recomendacion</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/reportes/listar" >Reporte</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/comentarios/listar" >Comentario</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/cuestionarios/listar" >Cuestionario</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/componentes/listar" >Componentes</a>
          </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/usuario/listar" >Usuario</a>
          </li>
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/pages/consultas/reporte-count-usuario">Jean Sanabria 1</a></li>
              <li><a class="dropdown-item" href="/pages/consultas/reporte-count2-usuario">Jean Sanabria 2</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/usuario-count-comentario">Camilo Adama 1</a></li>
              <li><a class="dropdown-item" href="/pages/consultas/usuario-fecha-comentario">Camilo Adama 2</a></li>
              <li><a class="dropdown-item" href="#">Anthony Carhuancho 1</a></li>
              <li><a class="dropdown-item" href="#">Anthony Carhuancho 2</a></li>
              <li><a class="dropdown-item" href="#">Fabian Diaz 1</a></li>
              <li><a class="dropdown-item" href="#">Fabian Diaz 2</a></li>
              <li><a class="dropdown-item" href="/pages/consultas/recomendacion-cuestionario">Walter Delgado 1</a></li>
              <li><a class="dropdown-item" href="#">Walter Delgado 2</a></li>
            </ul>
          </li>
          <li>
            <button mat-raised-button color="warn" routerLink="/login">Cerrar Sesion</button>
          </li>

        </ul>
        </div>
    </div>
</nav>
  </header>


<body>
    <section>

<div class="container mt-3">

    <div class="card">

        <div class="card-header bg-dark text-light"><h1>ChatGPT - API</h1></div>

        <div class="card-body">

            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <ul class="list-group mb-2">
                            <li class="list-group-item bg-primary text-light">Bienvenido a ChatGPT de Pc INFO</li><br>
                        </ul>
                    </div>
                    <div class="col-12 prompt respuesta">

                    </div>

                </div>

            </div>

            <input [(ngModel)]="message" class="form-control" name="message" placeholder="Escribe tu mensaje aqui...">
            <div style="text-align: center;">
                <button class="btn btn-outline-primary mt-2 mr-2" (click)="sendMessage()">Enviar</button>
                <span style="margin: 0 50px;"></span>
                <button class="btn btn-outline-danger mt-2" (click)="limpiar()">Limpiar</button>
              </div>
        </div>

    </div>

</div>
    </section>

</body>
</html>
