<!DOCTYPE html>
<html lang="en" style="background-color: rgb(233, 222, 222);">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header >
  <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
    <div class="container-fluid">
      <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <a class="nav-link active" aria-current="page" routerLink="/pages/chatgpt" class="btn-neon">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              CHAT GPT
          </a>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/recomendacion/listar" >Recomendacion</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/reportes/listar" >Reporte</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/comentarios/listar" >Comentario</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/cuestionarios/listar" >Cuestionario</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/componentes/listar" >Componentes</a>
          </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page"  routerLink="/pages/usuario/listar" >Usuario</a>
          </li>
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/pages/consultas/reporte-count-usuario">Jean Sanabria 1</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/reporte-count2-usuario">Jean Sanabria 2</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/usuario-count-comentario">Camilo Adama 1</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/usuario-fecha-comentario">Camilo Adama 2</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/">Anthony Carhuancho 1</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/">Anthony Carhuancho 2</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/">Fabian Diaz 1</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/">Fabian Diaz 2</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/recomendacion-cuestionario">Walter Delgado 1</a></li>
              <li><a class="dropdown-item" routerLink="/pages/consultas/">Walter Delgado 2</a></li>
            </ul>
          </li>
          <li>
            <button mat-raised-button color="warn" routerLink="/login">Cerrar Sesion</button>
          </li>

        </ul>
        </div>
    </div>
</nav>
</header>
<body style="background-color: rgb(233, 222, 222);">

  <div style="background-color: rgb(233, 222, 222);">




  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Cuestionarios</h1>
    </div>
  </div>
 <ng-container  >
  <div class="container" style="text-align: center;">
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Formulario</mat-label>
      <mat-select placeholder="formulario" formControlName="tipo_form"required>
        <mat-option value="Largo">Largo</mat-option>
        <mat-option value="Corto">Corto</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Uso de PC</mat-label>
      <mat-select placeholder="uso de pc" formControlName="uso_de_pc"required>
        <mat-option value="Gaming">Gaming</mat-option>
        <mat-option value="Streaming">Streaming</mat-option>
        <mat-option value="Edición">Edición</mat-option>
        <mat-option value="Estudios">Estudios</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Presupuesto</mat-label>
      <mat-select placeholder="presupuesto" formControlName="presupuesto"required>
        <mat-option value="Economico">Economico</mat-option>
        <mat-option value="Media">Media</mat-option>
        <mat-option value="Media - Alta">Media - Alta</mat-option>
        <mat-option value="Alta">Alta</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tamaño del PC</mat-label>
      <mat-select placeholder="tamaño del pc" formControlName="tamano_del_pc"required>
        <mat-option value="Mini (ITX)">Mini (ITX)</mat-option>
        <mat-option value="Pequeño (Micro ATX)">Pequeño (Micro ATX)</mat-option>
        <mat-option value="Estandar (ATX)">Estandar (ATX)</mat-option>
        <mat-option value="Gigante (EATX)">Gigante (EATX)</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Diseño</mat-label>
      <mat-select placeholder="diseño" formControlName="diseno"required>
        <mat-option value="Normal">Normal</mat-option>
        <mat-option value="Minimalista">Minimalista</mat-option>
        <mat-option value="RGB">RGB</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tipo de refrigeración</mat-label>
      <mat-select placeholder="tipo de refrigeración" formControlName="tipo_de_refrigeracion">
        <mat-option value="Stock">Stock</mat-option>
        <mat-option value="Aire">Aire</mat-option>
        <mat-option value="Liquida">Liquida</mat-option>
        <mat-option value="Liquida Custom">Liquida Custom</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Overclocking</mat-label>
      <mat-select placeholder="overclocking" formControlName="overclocking">
        <mat-option value="Si">Si</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Marca del procesador</mat-label>
      <mat-select placeholder="marca del procesador" formControlName="marca_procesador"required>
        <mat-option value="AMD">AMD</mat-option>
        <mat-option value="Intel">Intel</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Programas más usados (opcional)</mat-label>
      <input matInput placeholder="progamas usados" formControlName="programas_used"required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuario" [(value)]="idUsuarioSeleccionado" required>
        <mat-option *ngFor="let a of lista" [value]="a.id">{{a.apellidop}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <button mat-raised-button type="submit" color="warn" class="mx-5">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/pages/cuestionarios/listar" class="mx-5">Cancelar</button>
    <p>{{mensaje}}</p>
  </form>
</div>
</ng-container>
</div>
</body>
</html>
