<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header >
    <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
        <div class="container-fluid">
          <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page" href="#">Menu</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">Componentes</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">Formulario</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#">¿Quienes Somos?</a>
                </li>
                <li>
                    <button mat-raised-button color="warn" routerLink="/login">Iniciar sesión</button>

                </li>
            </ul>
            </div>
        </div>
    </nav>
</header>

  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Cuestionarios</h1>
    </div>
  </div>
 <ng-container  >
  <div class="container" style="text-align: center;">
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Formulario</mat-label>
      <mat-select placeholder="Formulario" formControlName="tipo_form"required>
        <mat-option value="Largo">Largo</mat-option>
        <mat-option value="Corto">Corto</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Uso de PC</mat-label>
      <mat-select placeholder="Uso de PC" formControlName="Uso_de_PC"required>
        <mat-option value="Gaming">Gaming</mat-option>
        <mat-option value="Streaming">Streaming</mat-option>
        <mat-option value="Edición">Edición</mat-option>
        <mat-option value="Estudios">Estudios</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Presupuesto</mat-label>
      <mat-select placeholder="Presupuesto" formControlName="Presupuesto"required>
        <mat-option value="Economico">Economico</mat-option>
        <mat-option value="Media">Media</mat-option>
        <mat-option value="Media - Alta">Media - Alta</mat-option>
        <mat-option value="Alta">Alta</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tamaño del PC</mat-label>
      <mat-select placeholder="Tamaño del PC" formControlName="Tamano_del_PC"required>
        <mat-option value="Mini (ITX)">Mini (ITX)</mat-option>
        <mat-option value="Pequeño (Micro ATX)">Pequeño (Micro ATX)</mat-option>
        <mat-option value="Estandar (ATX)">Estandar (ATX)</mat-option>
        <mat-option value="Gigante (EATX)">Gigante (EATX)</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Diseño</mat-label>
      <mat-select placeholder="Diseño" formControlName="Diseno"required>
        <mat-option value="Normal">Normal</mat-option>
        <mat-option value="Minimalista">Minimalista</mat-option>
        <mat-option value="RGB">RGB</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tipo de refrigeración</mat-label>
      <mat-select placeholder="Tipo de refrigeración" formControlName="Tipo_de_refrigeracion">
        <mat-option value="Stock">Stock</mat-option>
        <mat-option value="Aire">Aire</mat-option>
        <mat-option value="Liquida">Liquida</mat-option>
        <mat-option value="Liquida Custom">Liquida Custom</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Overclocking</mat-label>
      <mat-select placeholder="Overclocking" formControlName="Overclocking">
        <mat-option value="Si">Si</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Marca del procesador</mat-label>
      <mat-select placeholder="Marca del procesador" formControlName="Marca_Procesador"required>
        <mat-option value="AMD">AMD</mat-option>
        <mat-option value="Intel">Intel</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Programas más usados (opcional)</mat-label>
      <input matInput placeholder="Progamas usados" formControlName="Programas_used"required>
    </mat-form-field>
    <br>

    <button mat-raised-button type="submit" color="warn" class="mx-5">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/administradores/mostrar" class="mx-5">Cancelar</button>
    <p>{{mensaje}}</p>
  </form>
</div>
</ng-container>
</body>
</html>
