<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body  style="background-color:rgb(233, 222, 222)">






  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>Registar Comentarios</h1>
    </div>
  </div>
 <ng-container>
  <div class="container" style="text-align: center;">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput hidden placeholder="id" formControlName="id">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Comentario</mat-label>
        <input matInput required placeholder="comentario" formControlName="comentario">
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" max="maxFecha" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>


      <!--ERROR AQUI-->
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="idUsuario" [(value)]="idUsuarioSeleccionado" required>
          <mat-option *ngFor="let a of listaUsuario" [value]="a.id">
            {{a.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>


      <button mat-raised-button type="submit" color="warn" class="mx-3">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/administradores/mostrar/comentarios/coment" class="mx-3">Cancelar</button>
      <p>{{mensaje}}</p>

    </form>
  </div>
</ng-container>
</body>
</html>
