<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comentario</title>
</head>
<header >
  <nav class="navbar-expand-lg navbar navbar-dark " style="background-color: #121212;">
      <div class="container-fluid">
        <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/recomendacion/listar" >Recomendacion</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/reportes/listar" >Reporte</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/comentarios/listar" >Comentario</a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page"  routerLink="/pages/cuestionarios/listar" >Cuestionario</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page"  routerLink="/pages/usuario/listar" >Usuario</a>
            </li>
              <li>
                  <button mat-raised-button color="warn" routerLink="/login">Cerrar Sesion</button>

              </li>
          </ul>
          </div>
      </div>
  </nav>
</header>
<body  style="background-color:rgb(255, 255, 255)">


  <div class="container-lg" style="margin-top: 50px;">
    <div style="text-align: center;">
      <h1>COMENTARIO</h1>
    </div>
  <mat-grid-list cols="2" rowHeight="4em">
    <mat-grid-tile>
      <div style="text-align: right;">

        <button mat-raised-button color="warn" routerLink="/administradores/mostrar/comentarios/registrar" >Nuevo</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="Buscar">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>




    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="background-color: #fef1f1;">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="comentario">
          <th mat-header-cell *matHeaderCellDef> Comentario </th>
          <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha|date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="idUsuario">
          <th mat-header-cell *matHeaderCellDef> usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.idUsuario.nombre}} </td>
        </ng-container>



        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
              [routerLink]="['/administradores/mostrar/comentarios/editar',element.id]"><i class="fa-solid fa-rotate" style="color: #ffffff;"></i></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"  style="background-color: #f4e4e4;"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>


</body>
</html>
